.container{
  margin: 5px;
  height: 45px;
  width: 45px;
  background-color: rgb(3, 4, 94);
  color: aliceblue;
}

.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(0, 119, 182);
}